.socials {
    display: flex;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
  
    li {
      margin: 0 10px;
      background-color: antiquewhite;
      padding: 10px;
      border-radius: 50%;
      width: 30px;
    }

    li:hover {
      transform: scale(1.1);
      transition: .8s;
      cursor: pointer;
    }
  }

  
  .wrapper, .socialsList {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1280px;
    justify-content: center;
    margin:0 auto;
    text-align: center;
    
  }

  .wrapper {
    padding-top: 250px;
  }